@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ApplicationCP2.Models.Produto

<h2>Adicionar Produto</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NOME" class="control-label">Nome do Produto:</label>
        <input asp-for="NOME" class="form-control" />
        <span asp-validation-for="NOME" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DESCRICAO" class="control-label">Descrição:</label>
        <textarea asp-for="DESCRICAO" class="form-control"></textarea>
        <span asp-validation-for="DESCRICAO" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QUANTIDADEESTOQUE" class="control-label">Quantidade em Estoque:</label>
        <input asp-for="QUANTIDADEESTOQUE" class="form-control" />
        <span asp-validation-for="QUANTIDADEESTOQUE" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CATEGORIA" class="control-label">Categoria:</label>
        <input asp-for="CATEGORIA" class="form-control" />
        <span asp-validation-for="CATEGORIA" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VALOR" class="control-label">Valor:</label>
        <input asp-for="VALOR" class="form-control" />
        <span asp-validation-for="VALOR" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DATACADASTRO" class="control-label">Data de Cadastro:</label>
        <input asp-for="DATACADASTRO" type="date" class="form-control" />
        <span asp-validation-for="DATACADASTRO" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Adicionar Produto</button> |
        <a asp-action="Index" class="btn btn-primary">Voltar para Lista</a>
    </div>
    <div class="form-group">
        <a asp-action="Details" asp-route-id="@Model.IDPRODUTO" class="btn btn-primary">Detalhes</a> |
        <a asp-action="Edit" asp-route-id="@Model.IDPRODUTO" class="btn btn-primary">Editar</a> |
        <a asp-action="Delete" asp-route-id="@Model.IDPRODUTO" class="btn btn-primary">Excluir</a>
    </div>
</form>
