@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ApplicationCP2.Models.Loja

<form asp-action="Edit">
    <input type="hidden" asp-for="IDLOJA" />

    <div class="form-group">
        <label asp-for="NOMELOJA" class="control-label"></label>
        <input asp-for="NOMELOJA" class="form-control" />
        <span asp-validation-for="NOMELOJA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CNPJ" class="control-label"></label>
        <input asp-for="CNPJ" class="form-control" />
        <span asp-validation-for="CNPJ" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ENDERECO" class="control-label"></label>
        <input asp-for="ENDERECO" class="form-control" />
        <span asp-validation-for="ENDERECO" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

